ItemContainerView {
    width: 100%;
    height: 100%;
}

ItemSlotItemView {
    width: 100px;
    height: 100px;
}

ItemSlotView {
    width: 100px;
    height: 100px;
}

#ItemVisual {
    width: 100%;
    height: 100%;
}

#ItemCount {
    position: absolute;
    bottom: 0;
    right: 0;
}
